
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Asap:wght@500&family=Bangers&family=Comfortaa:wght@500&family=Fredoka+One&family=Galada&family=Lobster&family=Monoton&family=Montserrat&family=Nunito:wght@600&family=Oleo+Script:wght@400;700&family=Paytone+One&family=Raleway&family=Roboto&family=Shrikhand&family=Varela+Round&display=swap');
/* font-family: 'Abril Fatface', cursive;
font-family: 'Asap', sans-serif;
font-family: 'Bangers', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Galada', cursive;
font-family: 'Lobster', cursive;
font-family: 'Monoton', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oleo Script', cursive;
font-family: 'Paytone One', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shrikhand', cursive;
font-family: 'Varela Round', sans-serif; */

